<div class="step-text">
<h5 id="description">Description</h5>
<p>Normally, the amount of tip is calculated as a percentage of the bill. So, our app will need to know the amount due and the desired tip percentage to do the calculations.  In this stage, we will add the corresponding layout fields for the user to interact with. </p>
<p>The user should be able to input the bill value by hand, regulate the tip percentage with a slider, and see the calculation results in a text field.</p>
<h5 id="objectives">Objectives</h5>
<p>Add the following components to the application layout:</p>
<ol>
<li>An <code class="java">EditText</code> where users enter the bill value with the <code class="java">id</code> attribute <code class="java">edit_text</code> , the <code class="java">inputType</code> attribute <code class="java">numberDecimal</code> and <code class="java">hint</code> attribute <code class="java">"Insert Bill Value"</code>;</li>
<li>A <code class="java">SeekBar</code> widget for specifying the tip percentage with the <code class="java">id</code> attribute <code class="java">seek_bar</code>. Set the <code class="java">max</code> attribute to 100 and the <code class="java">progress</code> attribute to 15;</li>
<li>A <code class="java">TextView</code> with id <code class="java">bill_value_tv</code> that will be used to display the bill value. Keep it empty at this stage;</li>
<li>A <code class="java">TextView</code> with id <code class="java">tip_percent_tv</code> that will be used to display the tip percent. Keep it empty at this stage;</li>
<li>A <code class="java">TextView</code> with id <code class="java">tip_amount_tv</code> that will be used to display the calculation result. Keep it empty at this stage;</li>
</ol>
<h5 id="example">Example</h5>
<p>Here is what your application will look like at the end of this stage:</p>
<p><img alt="Tip Calculator layout" height="600" name="Stage1Example.gif" src="https://ucarecdn.com/44eb857e-ff10-4586-87c6-7330e40706d6/" width="340"/></p>
</div>